body {
    background-color: white;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 67px;
    background-color: white;
    z-index: 1000;
}

.header-company-title {
    position: fixed;
    left: 10px;
}

.front-page-picture {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    img {
        width: 100%;
        height: 800px;
        object-fit: cover;
    }
}

.index-image-text {
    width: 50%;
    left: 25%;
    color: white;
    position: absolute;
    top: 30%;
    text-align: center;
}

@media (max-width:1171px) {
    body {
        overflow-x: hidden;
    }
    .front-page-picture {
        height: 804px;
    }
    .front-page-picture img {
        text-align: center;
        display: block;
        width: 1157px;
        height: 800px;
    }
}

.accolades {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    background-color: white;
    width: 100%;
    position: absolute;
    height: 200px;
    align-items: center;
    z-index: 1;
}

@media (max-width: 768px) {
    .accolades {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.accolades-text {
    font-size: 20px;
}

.health-topics {
    position: relative;
    background-color: rgb(236, 229, 229);
    width: 100%;
    height: 600px;
}